<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- Set Apache HTTP client logging to WARN level to reduce noise -->
    <logger name="org.apache.hc" level="WARN" />
    
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>